mixin bread-crumbs(pages)
  section.bread-crumbs
    .container
      ul.txt-lg.bread-crumbs__list
        each parent in pages.parents
          li.bread-crumbs__item
            a.link.bread-crumbs__link(href= parent.href)= parent.name
            |
            |
            span /
        li.bread-crumbs__item= pages.currentPage
