mixin cart()
  section.cart
    .container
      .cart__wrapper
        .cart__content
          h1.cart__title=cart.title
          p.txt.cart__login Есть аккаунт?
            |
            |
            a.link.cart__login-link(href="#") Войти
          .cart__form(data-validate data-callback="order")
            form
              .cart__form-wrapper
                +custom-input(cart.form.address).cart__form-input(data-validate-type="text")
                .cart__map
                  iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1185.046860826007!2d30.429674482558163!3d60.03159784991486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46963339410d08ff%3A0xf62f8096bec3608a!2z0L_RgC4g0J_RgNC-0YHQstC10YnQtdC90LjRjywgOTksIDE1Miwg0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsIDE5NTI5OQ!5e0!3m2!1sru!2sru!4v1643563148479!5m2!1sru!2sru" allowfullscreen="" loading="lazy")
                .cart__form-inputs
                  +custom-input(cart.form.name).cart__form-input(data-validate-type="text", data-limitations="letters-and-digit")
                  +custom-input(cart.form.phone).cart__form-input(data-validate-type="phone")
                +custom-input(cart.form.email).cart__form-input(data-validate-type="email")
                +custom-select(cart.form.packaging).cart__form-input(data-select, data-validate-type="select", data-name=cart.form.packaging.name, data-id=cart.form.packaging.id)
                +custom-textarea(cart.form.comment).autoresize-textarea.cart__form-input(rows="1")
              .cart__products
                h2.cart__products-title Выбранные товары:
                ul.cart__products-list
                  each product in productSets.cart
                    li.cart__products-item
                      +produtct-card(product)
              .h1.cart__total-price
                span Итог:
                span #[output 3790] руб.
              +btn({text: "Купить", type: "submit"})

