.custom-input,
.custom-textarea {
  position: relative;

  display: flex;
  width: 100%;

  label {
    display: flex;
    align-items: center;
    width: 100%;

    input,
    textarea {
      flex-grow: 1;

      padding: 18px 0 9px;

      font-size: 16px;
      line-height: 1.2;

      border: none;
      border-bottom: 1px solid $color-nobel;
      outline: none;

      transition: border-color $trans-default;
    }
  }

  &--search-form {
    label {
      width: 250px;

      input {
        padding: 0;
        padding-bottom: 5px;

        font-size: 18px;
        line-height: percentage (21 / 18);

        &::placeholder {
          color: $color-nobel;
        }
      }

      @include vp-1023 {
        width: 100%;
      }
    }
  }

  &.is-invalid {
    input,
    textarea {
      border-color: $color-free-speech-red;
    }

    .custom-input__error {
      opacity: 1;
    }
  }

  /*&.is-valid {
    input {
      border: 2px solid $color-malachite;

      &:focus,
      &:hover {
        border: 2px solid rgba($color-malachite, 0.5);
      }
    }
  }*/
}

.custom-input__label,
.custom-textarea__label {
  position: absolute;
  top: 18px;
  left: 0;

  Color: $color-nobel;

  transform-origin: left top;

  transition:
    top $trans-default,
    transform $trans-default;

  &.is-moved,
  input:focus + &,
  textarea:focus + & {
    top: 0;
    transform: scale(0.75);
  }

  .custom-input--search-form & {
    @extend .visually-hidden;

    position: static;
  }
}

.custom-input__error,
.custom-textarea__error {
  position: absolute;
  top: 0;
  left: 0;

  color: $color-free-speech-red;
  background-color: $color-default-white;

  opacity: 0;

  transition: opacity $trans-default;
}
