.search-form {
  display: flex;
  align-items: center;
}

.search-form__btn {
  flex-shrink: 0;
  display: inline-flex;

  margin-right: 20px;
  padding: 0;

  background-color: $color-transparent;
  border: none;

  transition: color $trans-default;

  pointer-events: none;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      color: $color-nobel;
    }
  }

  @include vp-1023 {
    margin-right: 0;

    pointer-events: auto;
  }
}

.search-form__icon {
  width: 27px;
  height: 27px;

  @include vp-599 {
    width: 24px;
    height: 24px;
  }
}

.search-form__input__wrapper {
  @include vp-1023 {
    overflow: hidden;
    width: 0;
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: $color-default-white;

    transition:
      opacity $trans-default,
      width 0s linear 0.3s;

    &:focus-within {
      overflow: visible;
      width: 100%;
      opacity: 1;

      transition: opacity $trans-default;
    }
  }
}

.search-form__input {
  @include vp-1023 {
    padding: 20px 32px;
  }
}
