@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Helvetica";

  font-display: swap;
  src:
    url("../fonts/helvetica-400.woff2") format("woff2"),
    url("../fonts/helvetica-400.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Helvetica";

  font-display: swap;
  src:
    url("../fonts/helvetica-700.woff2") format("woff2"),
    url("../fonts/helvetica-700.woff") format("woff");
}
