//Headers
// ---------------------------------

h1,
.h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.15;

  @include vp-1023 {
    font-size: 30px;
    line-height: percentage(34 / 30);
  }
}

h2,
.h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: percentage(32 / 28);

  @include vp-1023 {
    font-size: 26px;
    line-height: percentage(30 / 26);
  }
}

h3,
.h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;

  @include vp-1023 {
    font-size: 16px;
    line-height: percentage(18 / 16);
  }
}

// Text
// ---------------------------------

.txt-lg {
  font-size: 18px;
  line-height: percentage(21 / 18);
}

.txt { // Base
  font-size: 16px;
  line-height: 1.2;
}

.txt-sm {
  font-size: 14px;
  line-height: percentage(16 / 14);

  @include vp-1023 {
    font-size: 12px;
    line-height: percentage(14 / 12);
  }
}

.txt-xs {
  font-size: 12px;
  line-height: percentage(14 / 12);
}
