mixin header(headerMods, currentPage)
  header.header(class=headerMods)
    .container
      .header__top
        button.header__menu-toggle(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          span.header__burger-line.header__burger-line--top
          span.header__burger-line.header__burger-line--middle
          span.header__burger-line.header__burger-line--bottom
        +search-form().header__search-form
        if(currentPage === "index")
          span.header__logo
            +icon("logo", 160, 50).header__logo-img
        else
          a.header__logo(href="index.html", aria-label="Переход на главную")
            +icon("logo", 160, 50)
        .header__account-wrapper
          ul.header__account-menu
            li.header__account-menu-item.header__account-menu-item--profile
              a.link.header__account-link(href="#", aria-label="Личный кабинет")
                +icon("icon-user", 24, 27).header__account-icon
            li.header__account-menu-item
              a.link.header__account-link(href="#", aria-label="Личный кабинет")
                +icon("icon-favorites", 30, 27).header__account-icon
            li.header__account-menu-item
              a.link.header__account-link.header__account-link--counter(href="#", aria-label="Личный кабинет")
                +icon("icon-cart", 25, 27).header__account-icon
                span.txt-xs.header__account-counter(data-counter="cart")
                  output 0
      nav.main-nav
        .main-nav__wrapper
          .main-nav__overlay
          ul.main-nav__list
            each link, index in links
              li.txt-lg.main-nav__item
                if(index === currentPage)
                  span.main-nav__link.main-nav__link--active=link.name
                else
                  a.link.main-nav__link(href=link.href)=link.name
