-
  const cart = {
    breadCrumbs: {
      parents: [
        {
          name: "Главная",
          href: "index.html",
        },
      ],
      currentPage: "Корзина",
    },
    title: "Корзина",
    form: {
      address: {
        inputType: "text",
        inputLabel: "Адрес",
        inputValue: "г. Санкт-Петербург, пр. Просвещения, д. 99, кв. 152",
        inputName: "cart-address",
        inputId: "id-cart-address",
        inputError: "Необходимо указать Ваш Адрес",
      },
      name: {
        inputType: "text",
        inputLabel: "Ваше Имя",
        inputName: "cart-name",
        inputId: "id-cart-name",
        inputError: "Необходимо указать Ваше Имя",
      },
      phone: {
        inputType: "phone",
        inputLabel: "Ваш Телефон",
        inputName: "cart-phone",
        inputId: "id-cart-phone",
        inputError: "Необходимо указать Ваш Телефон",
      },
      email: {
        inputType: "email",
        inputLabel: "Ваш Email",
        inputName: "cart-email",
        inputId: "id-cart-email",
        inputError: "Необходимо указать Ваш Email",
      },
      packaging: {
        label: "Тип упаковки",
        name: "cart-packaging",
        id: "id-cart-packaging",
        error: "Необходимо выбрать Тип упаковки",
        optionsList: [
          {text: "Без упаковки", value: "none"},
          {text: "Стандартная", value: "standart"},
          {text: "Подарочная", value: "gift"},
        ],
      },
      comment: {
        inputLabel: "Введите комментарий",
        inputName: "cart-packaging",
        inputId: "id-cart-packaging",
        inputRows: 1,
      },
    },
  }
