-
  const cart = {
    breadCrumbs: {
      parents: [
        {
          name: "Главная",
          href: "index.html",
        },
      ],
      currentPage: "Корзина",
    },
    title: "Корзина",
  }
