-
  const links = [
    {
      name: "Страница 1",
      href: "#",
    },
    {
      name: "Страница 2",
      href: "#",
    },
    {
      name: "Страница 3",
      href: "#",
    },
    {
      name: "Страница 4",
      href: "#",
    },
    {
      name: "Страница 5",
      href: "#",
    },
    {
      name: "Страница 6",
      href: "#",
    },
  ]
