-
  const products = [
    {
      title: "Товар 1",
      id: "product-01",
      href: "#",
      cover: {
        file: "product-01",
        type: "jpg",
        width: 150,
        height: 150,
        alt: "",
      },
      desc: "Описание товара, которое может быть длинным",
      price: 1090,
      value: 1,
    },
    {
      title: "Товар 2",
      id: "product-02",
      href: "#",
      cover: {
        file: "product-01",
        type: "jpg",
        width: 150,
        height: 150,
        alt: "",
      },
      desc: "Описание товара, которое может быть очень-очень длинным. Поэтому ограничение максимум 5 строк будет весьма уместным.",
      price: 700,
      value: 1,
    },
    {
      title: "Товар 3",
      id: "product-03",
      href: "#",
      cover: {
        file: "product-01",
        type: "jpg",
        width: 150,
        height: 150,
        alt: "",
      },
      desc: "Короткое описание товара",
      price: 1000,
      value: 2,
    },
  ]

  const productSets = {
    cart: [
      products[0],
      products[1],
      products[2],
    ],
  }
